.a{
    background-color: aqua;
    text-align: center;
    padding: 29px;
    margin: 28px;
}
.b{
    padding: 18px;
    height: 20px;
}
.c{
    padding: 18px;
    height: 20px;
}
.d{
    padding: 18px;
    
}